@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

html,body{height:100vh;}
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i, span {
    display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
    height: 100%;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #094c26;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar.active .sidebar-header h3, #sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right:  0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active a[aria-expanded="false"]::before, #sidebar.active a[aria-expanded="true"]::before {
    top: auto;
    bottom: 5px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #0a7f3c;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}
#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}
.container{
   
    max-width: 100%;
}
.chat-list{
    background: #e3e8ed;
    height: 100vh;
    padding: 0;
    overflow-y: auto;
    border-right: 2px solid #d1d1d1;
}

.chat-thumbnail {
    height: 5vh;
    width: 7vh;
    padding: 0;
    border: 0;
  border-radius: 0.25rem;
}
.nav-tabs .nav-item{
    background-color: white;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        background-color: #e0e57e;

}
.chat-item{
    border-bottom: 1px solid #d1d1d1;
}
.chat-item .active{
    background-color: #e0e57e;
    border: 0;
    color: black;
}
.chat-item p{
    color: #7f7f7f;
}
.chat-item:hover {
    background: #afafac;
    color: white;
}
.chat-search{
    width: 50%;
    border-radius: 50px;
}
.chat-bar{
    width: 100%;
    display: inline;
}
.chat{
    width: 100%;
    padding: 0;
}

.preview{
    font-size: 16px;

}

.current-user{
    margin-top: 5px;
}

.send-img{
    height: 2vh;
}
.profile-picture{
    height: 20vh;
    width: 25vh;
}

.logout{
    margin-left: 30%;

}

.options{
    background-color: transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important ;
    }
    a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
        top: auto;
        bottom: 5px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
    }

    #sidebar .sidebar-header h3, #sidebar .CTAs {
        display: none;
    }

    #sidebar .sidebar-header strong {
        display: block;
    }

    #sidebar ul li a {
        padding: 20px 10px;
    }

    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right:  0;
        display: block;
    }

    #sidebar ul ul a {
        padding: 10px !important;
    }

    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

.content .contact-profile {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #9cb7a8;
}
.content .contact-profile img {
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  float: left;
  margin: 6px 12px 0 9px;
}
 .content .contact-profile p {
  float: left;

  color: black;
}
 .content .messages {
  height: 90vh;
  min-height: calc(100% - 93px);
  max-height: calc(100% - 93px);
  overflow-y: auto;
  overflow-x: hidden;
  background: #f2f4f2;
}
@media screen and (max-width: 735px) {
   .content .messages {
    max-height: calc(100% - 105px);
  }
}
 .content .messages::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}
 .content .messages::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}
 .content .messages ul li {
  display: inline-block;
  clear: both;
  float: left;
  margin: 15px 15px 5px 0;
  width: calc(100% - 25px);
  font-size: 0.9em;
}
 .content .messages ul li:nth-last-child(1) {
  margin-bottom: 20px;
}
 .content .messages ul li.sent img {
  border: 1px solid black;
  width: 3vh;
  height: 3vh;
  margin: 7px 0 0 8px;
  float: right;
}
 .content .messages ul li.sent p {
  background:#26094c;
  color: #f5f5f5;
  float: right;
}
 .content .messages ul li.replies img {
  float: left;
  margin: 7px 8px 0 0 ;
}
 .content .messages ul li.replies p {
  background: #178917;
  color: white;
  float: left;
}
 .content .messages ul li img {
  width: 22px;
  border-radius: 50%;
  float: left;
}
 .content .messages ul li p {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 205px;
  line-height: 130%;
}
@media screen and (min-width: 735px) {
   .content .messages ul li p {
    max-width: 300px;
  }
}
 .content .message-input {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 99;
}
 .content .message-input .wrap {
  position: relative;
}
 .content .message-input .wrap input {
  font-family: "proxima-nova",  "Source Sans Pro", sans-serif;
  float: left;
  border: none;
  width: calc(100% - 90px);
  padding: 11px 0 3vh 8px;
  font-size: 0.8em;
  color: #32465a;
}
@media screen and (max-width: 735px) {
   .content .message-input .wrap input {
    padding: 15px 0 16px 8px;
  }
}
 .content .message-input .wrap input:focus {
  outline: none;
}
 .content .message-input .wrap .attachment {
  position: absolute;
  right: 60px;
  z-index: 4;
  margin-top: 10px;
  font-size: 1.1em;
  color: #435f7a;
  opacity: .5;
  cursor: pointer;
}
@media screen and (max-width: 735px) {
   .content .message-input .wrap .attachment {
    margin-top: 17px;
    right: 65px;
  }
}
 .content .message-input .wrap .attachment:hover {
  opacity: 1;
}
 .content .message-input .wrap button {
  border: none;
  width: 5%;
  padding: 1.7vh;
  cursor: pointer;
  background: #32465a;
  color: #f5f5f5;
}
@media screen and (max-width: 735px) {
   .content .message-input .wrap button {
    padding: 16px 0;
  }
}
 .content .message-input .wrap button:hover {
  background: #435f7a;
}
 .content .message-input .wrap button:focus {
  outline: none;
}