<a  class = "btn btn-lg btn-primary" onclick="createGroup()"> Create Group</a>



{% for group in groups %}
<a onclick="joinGroup('{{group.roomID}}')">
<li class="nav-item chat-item"  >

								    	<img src="{{url_for('static',filename='img/logo.png')}}" class="rounded-circle chat-thumbnail">

                                            <h5>Group Name: {{group.roomName}}</h5>

                                                <p class="preview">Admin: {{group.admin}}</p>








</li>
     <br>
    </a>
    {% endfor %}







<script>

    function createGroup(){
        $.ajax({
			url: '/createGroup',
			type: 'POST',
			success: function(response){
          		$("#mainChat").html(response);

			},
			error: function(error){
				console.log(error);
			}
		});
    }
</script>


