                                 {% if groups %}
                                 {% for group in groups %}
	            			<li class="nav-item chat-item"  >
								  <a class="nav-link active " id="home-tab" data-toggle="tab" href="#chat1" role="tab" aria-controls="home" aria-selected="true" onclick="groupOpen('{{group.roomID}}')">
								    <div class="d-flex w-100 justify-content-between">
								    	<img src="{{url_for('static',filename='img/logo.png')}}" class="rounded-circle chat-thumbnail">
								      <h5 class="float-left">{{group.roomName}}</h5>
								    </div>
								    <p class="preview">?</p>
								    <small>3 days ago</small>
								    <span class="badge badge-primary badge-pill float-right">1</span>
								  </a>
							  </li>
                                 {% endfor %}
                                {% else %}
                                 <h5>No Groups Found.</h5>
                                 {% endif %}

