<!DOCTYPE html>
<html>
	<head>
			<meta charset="utf-8">
		    <meta http-equiv="X-UA-Compatible" content="IE=edge">
		    <meta name="viewport" content="width=device-width, initial-scale=1">
		    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		    <!--
			 ╭────────────────────────────────────────────────────────────────────────────╮
			 │                   ____________________________________                     |
			 │                 < Hello!								  >                   |
			 │                   ------------------------------------                     |
			 │                       \   ^__^                                             |
			 │                        \  (oo)\_______                                     |
			 │                           (__)\       )\/\                                 |
			 │                               ||----w |                                    |
			 │                               ||     ||                                    |
			 │                                                                            |
			 ╰────────────────────────────────────────────────────────────────────────────╯
 			-->
		    <meta name="description" content="First page for chat app">
			<meta name="author" content="Created by EJ">
		<title>Not Discord</title>
		<link rel="stylesheet" href="css/bootstrap.min.css"">
		<link rel="stylesheet" type="text/css" href="css\index.css">
	</head>
	<body>
		 <div class="wrapper">
            <!-- Sidebar Holder -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <img src="img\goat.jpg" class="rounded-circle img-thumbnail profile-picture">
                    <h5 class="text-center current-user">Name here</h5>
                </div>
                <ul class="list-unstyled components">
                    <li>
                        <a href="#">
                            <i class="glyphicon glyphicon-briefcase"></i>
                            Profile
                        </a>
                    </li>
                    <li>
                        <a href="servers.html">
                            <i class="glyphicon glyphicon-briefcase"></i>
                            Servers
                        </a>
                    </li>
                    <li>
                         <a href="index.html">
                            <i class="glyphicon glyphicon-briefcase"></i>
                            Friends
                        </a>
                    </li>
                </ul>
                <a type="button" class="btn btn-success logout" href="log.html">Log out</a>
            </nav>

            <!-- Page Content Holder -->
            <div class="container no-gutters">
            	<div class="row">
            		<!--List of chat, this section already has auto scroll bar -->
            		<div class="col-lg-3 chat-list">
            			<div class="chat-bar">
            				 <input class="form-control chat-search" type="search" placeholder="Search" aria-label="Search">
            				
            			</div>
            			<ul class="nav nav-tabs list-group " id="nav-tab" role="tablist">
	            			<li class="nav-item"  >
								  <a class="nav-link active chat-item" id="home-tab" data-toggle="tab" href="#chat1" role="tab" aria-controls="home" aria-selected="true">
								    <div class="d-flex w-100 justify-content-between">
								    	<img src="img\paindu.jpg" class="rounded-circle chat-thumbnail">
								      <h5 class="float-left">Paindus</h5>	

								    </div>
								    <p class="preview">?</p>
								    <small>3 days ago</small>
								    <span class="badge badge-primary badge-pill float-right">1</span>	
								  </a>
							  </li>

							  <li class="nav-item" >
								  <a  class="list-group-item chat-item  nav-link" id="chat-1-tab" data-toggle="tab" href="#chat2" role="tab" aria-controls="chat-2" aria-selected="true">
								    <div class="d-flex w-100 justify-content-between">
								    	<img src="img\network.png" class="img-thumbnail chat-thumbnail">
								      <h5 class="float-left">Real Network applications</h5>				      
								    </div>

								    <p class="preview">Donec id elit non mi porta gravida at eget metus.....</p>
								    <small>5 days ago</small>
								    <!-- Small pill for "unread" messages-->
								    <span class="badge badge-primary badge-pill float-right">1</span>	
								  </a>
							  </li>

						</ul>
            		</div>
            		<!--Actual chat, bubbles etc.-->
            		<div class="col-lg-9 chat">
            			<div class="chat-content tab-content content" id="nav-tabContent">
	            			<div class="tab-pane fade show active" id="chat1" role="tabpanel" aria-labelledby="chat1-tab">
	            				<!-- Profile section of chat-->
								<div class="contact-profile">
									<img src="img\paindu.jpg" alt="" />
									<p>Paindus</p>
									<button type="button" class="options float-right" data-toggle="modal" data-target="#exampleModalCenter"><img src="svg\ellipses.svg"></button>	
								</div>
								<div class="messages">
									<ul>
										<!--class Sent == you ; Replies == other party -->
										<li class="sent">
											<img src="img\goat.jpg" alt="" />
											<p>Hello</p>
										</li>
										<li class="replies">
											<img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
											<p>Where front end?</p>
										</li>
										<li class="replies">
											<img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
											<p>?</p>
										</li>
										<li class="replies">
											<img src="img\garbage.jpg" alt="" />
											<p>Hello, Jason here</p>
										</li>									
									</ul>

								</div>
								<!-- Input bar and send button -->
								<div class="message-input">
									<div class="wrap">
									<input type="text" placeholder="Write your message..." />
									<i class="fa fa-paperclip attachment" aria-hidden="true"></i>
									<button class="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i><img class="send-img" src="svg\pencil.svg"></button>
									</div>
								</div>
							</div>

							<div class="tab-pane fade" id="chat2" role="tabpanel" aria-labelledby="chat2-tab">
								<div class="contact-profile">
									<img src="img\goat.jpg" alt="" />
									<p>Name Here</p>
								</div>
								<div class="messages">
									<ul>
										<!--Sent == you ; Replies == other party -->
										<li class="sent">
											<img src="img\goat.jpg" alt="" />
											<p>Hello?</p>
										</li>
										<li class="replies">
											<img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
											<p>Where front end??????????</p>
										</li>
										<li class="replies">
											<img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
											<p>?</p>
										</li>									
									</ul>
								</div>
								<div class="message-input">
									<div class="wrap">
										<input type="text" placeholder="Write your message..." />
										<button class="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i><img class="send-img" src="svg\pencil.svg"></button>
									</div>
								</div>
							</div>
						</div>
            		</div>
            	</div>
            </div>
      </div>  
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Group members</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
	</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
<script src="js/chat.js"></script>

</html> 