 <form id="addFriend" >
                                 <button name = "Hello" type = "submit" class = "btn btn-success"> Add Friends</button>
{% for user in users %}
<li class="nav-item chat-item"  >

								    	<img src="{{url_for('static',filename='img/logo.png')}}" class="rounded-circle chat-thumbnail">

                                            <h5>Username: {{user.username}}</h5>

                                                <p class="preview">Fist Name: {{user.firstName}}</p>

                               <p class="preview">Last Name: {{user.lastName}}</p>

                            <input type="checkbox"  name="friends" value="{{user.id}}"> Select to Add




</li>
     <br>
    {% endfor %}
         </form>
<script>
clearInterval(friendInterval);
	$(function(){
	$('#addFriend').submit(function(){
		$.ajax({
			url: '/addFriend',
			data: $('#addFriend').serialize(),
			type: 'POST',
			success: function(response){
          		//$("#mainHolder").html(response);

			},
			error: function(error){
				console.log(error);
			}
		});
		return false;
	});
});


</script>
